@model Music.Views.Artist.ArtistIndexViewModel

@{
    ViewData["Title"] = "Все артисты";
}

<div class="container py-5">

    <h1 class="text-center mb-5">Все артисты</h1>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="btn btn-success" asp-controller="Artist" asp-action="Create">Добавить артиста</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <label>
                Сортировка:
                <select class="form-select">
                    <option value="0">--</option>
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                </select>
            </label>
        </div>
    </nav>

    <div class="row mt-5">
        @foreach (var artist in Model.Artists)
        {
            <div class="col-md-4 col-lg-3">
                <div class="card album-card">
                    <img src="@artist.UrlImg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@artist.Name</h5>
                        <div class="d-flex justify-content-between">
                            <a asp-controller="Artist" 
                               asp-action="Details" 
                               asp-route-id="@artist.Id" 
                               class="btn btn-primary">Перейти</a>
                            <form asp-controller="Artist"
                                  asp-action="Delete" 
                                  asp-route-id="@artist.Id" 
                                  method="post" 
                                  class="d-inline">
                                <button type="submit" 
                                        class="btn btn-danger" 
                                        onclick="return confirm('Удалить артиста?');">Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @TempData["ErrorMessage"]
    </div>
}