@using Music.Views.Shared.Components
@model Music.ViewModels.Album.AlbumIndexViewModel

@{
    ViewData["Title"] = "Все альбомы";
}

<div class="container py-5">
    <h1 class="text-center mb-5">Все альбомы</h1>

    <div class="row">
        @if (Model != null)
        {
            @foreach (var album in Model.Albums)
            {
                <div class="col-md-4 col-lg-3">
                    <a asp-controller="Album"
                       asp-action="Details"
                       asp-route-id="@album.Id" class="card album-card">
                        <img src="@album.UrlImg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="album-info">
                                <!-- Основная информация -->
                                <h3 class="card-title">@album.Name</h3>
                                <p class="card-title d-flex align-items-center flex-wrap gap-3">
                                    <span class="card-title-info">
                                        <i class="fas fa-user-alt"></i>@album.ArtistName
                                    </span>
                                    <span class="separator">•</span>
                                    <span class="card-title-info">
                                        <i class="fas fa-calendar-alt"></i>@album.YearOfIssue
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
    @Html.ErrorMessage(@TempData["ErrorMessage"] as string)
</div>

@await Component.InvokeAsync("Pagination", Model.Pagination)
